* {
  box-sizing: border-box;
  font-family: 
    -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 100%;
}

a {
  cursor: pointer;
  font-size: 100%;
}

select {
  font-size: 100%;
}

#header {
  padding: 10px;
  text-align: center;
}

#control-bar {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.25);
}

#control-bar a {
  margin: 0 5px;
  padding: 8px 0 10px 0;
  border-radius: 5px;
  user-select: none;  
}

#control-bar select {
  margin: 0 5px;
}

#generate-button {
  color: #30b348;
}

#find-button {
  color: #30b348;
}

#reset-button {
  color: #f71b39;
}

.separator {
  width: 1px;
  height: 30px;
  margin: 0 10px;
  background-color: #6da6b3;
}

#wrapper {
  position: relative;
}

#grid {
  touch-action: none;
}

#resize-message {
  display: none;
  position: absolute;
  width: 250px;
  max-width: 90%;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.2);
}

#resize-message a {
  padding: 0 10px 3px 10px;
  border: solid;
  border-width: 3px;
  border-color: white;
  font-size: 150%;
  font-weight: bold;
}

#resize-message p {
  text-align: center;
}

#resize-message #row {
  margin-top: 15px;
}

#resize-message-yes {
  color: #30b348;
}

#resize-message-yes:hover {
  border-color: #30b348;
}

#resize-message-no {
  color: #f71b39;
}

#resize-message-no:hover {
  border-color: #f71b39;
}

#row {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-resolution: 2dppx) {
  body {
    font-size: 40px;
  }

  #header {
    padding: 20px;
  }
  
  #resize-message {
    width: 500px;
  }
}